@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.login-container {
  background-color: ghostwhite;
  border-radius: 10px;
  margin: 10% auto;
  width: 80%;
  height: 300px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}
.input-text {
  background-color: white;
  margin: 10px;
  padding: 2%;
  height: 18px;
  border: 2px solid rgb(121, 132, 151);
  border-radius: 10px;
  background-color: rgb(0, 110, 255);
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19); */
}

::placeholder {
  color: white;
}

input:focus {
  border: 2px solid white;
  transition-duration: 0.5s;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
  transition-timing-function: ease;
  outline: none;
  background-color: rgb(0, 110, 255);
  color: white;
}

.input-label {
  padding: 1%;
  color: rgb(0, 162, 255);
  font-family: "Poppins", "sans-serif";
  margin: 1%;
}
.btn {
  align-self: center;
  margin: 15px 15px 0px 8px auto;

  background-color: white;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  border: 2px solid white;
  background-color: rgb(0, 110, 255);
  color: white;
}
.errorMsg {
  font-size: 12px;
  color: red;
}
.span {
  color: rgb(0, 110, 255);
  cursor: pointer;
  margin-right: 15px;
}

.span:hover {
  color: red;
}

.login-title {
  margin-bottom: 35px;
  color: rgb(0, 110, 255);
}
